.*
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.png
*.pyc
*.pytxcode
data/processed/
reports/non-tabular/
reports/pythontex-files-tendencia_poblacional_cormoran/
reports/tables/
spec/spec_helper.sh
src/__pycache__/
